* {
  margin: 0;
  box-sizing: border-box;
}

.Achtergrond{
  background-color: rgb(249, 249, 241);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -20;
}

.App {
  background-color: rgb(249, 249, 241);
  /* min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;  */
  /* display: inline-block; */
}

.InnerDiv{
  /* width: 100%;
  height: 100%; */
}

.navAndGrid{
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 85vh;
  max-height: 85vh;
  flex-direction: row;
}

.Links{
  min-width: 120px;
  max-width: 120px;
  border: 5vw;
}

.Rechts{
  flex-grow: 1;
  /* padding: 100px; */
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.dashboardgrid{
  height: 100%;

  display: grid;

 grid-template-columns: 1fr 1fr;
 grid-template-rows:repeat(4,1fr);

  column-gap: 20px;
  row-gap: 10px;
}
.grid {
  height: 100%;

  display: grid;

 grid-template-columns: 1fr 1fr;
 grid-template-rows:repeat(3,1fr);

  column-gap: 20px;
  row-gap: 10px;
}

.header {
  display: flex;
  background-image: url("paarseAchtergrond.png");
  /*object-fit: fill;*/
  background-size: cover;
  z-index: 1;
  flex-direction: row-reverse;
  min-width: 100vw;
  min-height: 15vh;
}

.NavigationBar {
  position:fixed;
  background-color: white;
  height: 43em;
  max-width: 10em;
  width: 100%;
  z-index: 2;
  top: 30px;
  left: 20px;

  border-radius: 40px;
}

.MyTasks {
  background-color: white;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.Progress {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: white;
}

.FinishedTasks {
  background-color: white;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
}

@media  (max-width: 1245px) {
 /* .App {
    
    background-color: rgb(249, 249, 241);
    /* min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%; */
     /* height: 100%; */
    /* overflow: auto;  */
    /* display: table;
  } 
   */

  .grid {
    height: 100%;

    display: grid;
   
    /* margin-left: 240px;  

    margin-top: 70px; */
    /* grid-template-columns: 514px; */
    grid-template-columns: 1fr;
    /*grid-template-rows: 158px 158px 158px 158px 158px 158px 158px; */
    grid-template-rows:repeat(6,auto); 
    column-gap: 10px;
    row-gap: 10px;
    min-height: 100vh;
  }

  .MyTasks {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: brown;
  }

  .FinishedTasks {
    background-color: white;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
  }

  .Progress {
    background-color: white;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
  }
}

/*@media screen and (max-width: 10000px){
  .grit{
 display: none;
  }
}   */





/* 
@media screen and (max-width: 1245px){
  .MyTasks {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: brown;
  }
}

 @media screen and (max-width: 1245px){
  .FinishedTasks{
    background-color: white; 
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
  }
}   



 @media screen and (max-width: 1245px){
  .Progress{
    background-color: white; 
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
  }
}    */
/*overflow:hidden*/
/*<p> props.user || "loading"</p>*/